@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter";
  font-style: normal;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #14141a;
  color: white;
  width: 282px;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  gap: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 18px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: white;
  white-space: nowrap;
  user-select: none;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f1f26;
  color: white;
  height: 143px;
  border-radius: 0px 0px 5px 5px;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin-top: 5px;
  margin-left: 5px;
  width: 272px;
  height: 25px;
  background: #292933;
  border-radius: 5px;
}

input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  margin: 5px 5px;
}

input::placeholder {
  color: #c5c5d9;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  transition: all 0.3s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

.input-text {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 103px;
  width: 272px;
  background-color: #14141a;
  margin: -5px 5px 5px 5px;
  border-radius: 5px;
}

.player-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 25px;
  margin-left: 5px;
  margin-top: 12.5px;
  gap: 10px;
}

.player-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 25px;
  margin-left: 5px;
  gap: 10px;
  margin-top: 15px;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #36aaf9;
  border: none;
}

.play-button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.forward-button {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.forward-button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: invert(50%) sepia(100%) saturate(379%) hue-rotate(163deg)
    brightness(98%) contrast(98%);
}

.backward-button {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.backward-button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: invert(50%) sepia(100%) saturate(379%) hue-rotate(163deg)
    brightness(98%) contrast(98%);
}

.loop-button {
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.loop-button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.line {
  display: flex;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.line:hover {
  filter: brightness(150%);
}

.loop {
  display: flex;
  filter: invert(100%) sepia(98%) saturate(2%) hue-rotate(93deg)
    brightness(106%) contrast(101%);
}

.loop:hover {
  filter: invert(50%) sepia(100%) saturate(379%) hue-rotate(163deg)
    brightness(98%) contrast(98%);
}

.volume-icon {
  display: flex;
}

.active {
  filter: invert(50%) sepia(100%) saturate(379%) hue-rotate(163deg)
    brightness(98%) contrast(98%);
}

.muted {
  filter: invert(51%) sepia(73%) saturate(7499%) hue-rotate(346deg)
    brightness(88%) contrast(149%);
}

@media only screen and (min-width: 1440px) {
  .container {
    transform: translate(-50%, -50%) scale(2);
  }
}
